<%# Home > Team %>
<section class="s-team" id="team">
  <div class="b-section">
    <header>
      <h1 class="section-title">Team</h1>
    </header>
    <div class="l-constrained-medium">
      <div class="s-team__photos">
        <% [ find_team_member_by_name("iamlos") ].each_with_index do |member, index| %>
          <article id="<%= member.slug %>" class="will-animate <%= index == 0 ? 'fadeInLeft' : 'fadeInRight' %>" data-wow-duration="0.7s" data-wow-delay="0.2s">
            <a href="/team/<%= member.slug %>">
              <img src="<%= team_member_avatar_path(member) %>"
                   alt="<%= member.name %>, a <%= member.job_title %> at <%= data.site.title %>"
                   class="image-circle pulse-grey-to-pink">
              <div class="overlay"><h2><%= member.name %></h2></div>
            </a>
          </article>
        <% end %>
      </div>
      <div class="s-team__stars will-animate fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.2s">
        <img src="<%= image_path "stars.png" %>" alt="Tampa" class="image-fullwidth">
      </div>
      <h2 class="s-team__based">Proudly Based in Tampa</h2>
      <div class="s-team__about">
        <p></p>
      </div>
      <div class="s-team__btn">
        <%= component "cta-button", id: "cta-team" %>
      </div>
    </div>
  </div>
</section>
